#Folders Ignore
Bin/
Testing/
.vscode/
wavelib-prefix/
extern/

#cmake ignore
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Makefile

#yml
*.yml

#Compiled
*.a
*.o
*.lib
*.so
*.exe
*.dll

#Eclipse
.project
.cproject
language.settings.xml

#tcl
*.tcl

#wdenoise-specific
examples/denoised*
examples/*.png
*.stackdump
